.email {
    padding: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    height: 90%;
}

.email>h2 {
    font-size: calc(1.4em + 1.5vw);
}

.email>p {
    font-size: calc(1em + 1vw);
    color: var(--color-light-gray);
    margin-top: 5px;
}

.email>.form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.email>.form>label {
    margin-bottom: 5px;
    font-size: 1.1em;
}

.email>.form>label {
    color: var(--color-light-gray);
}

.email>.form>input {
    all: unset;
    background-color: var(--color-primary-dark);
    padding: 10px;
    flex: 1;
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 0.5em;
}

.email>.btn {
    background-color: var(--color-primary);
    color: black;
    text-align: center;
    font-weight: 600;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 0.4em;
    margin-top: auto;
}