/*전체 페이지에 적용되는 css입니다.*/

* {
  margin: 0;
  font-family: "Pretendard";
}

body {
  background-color: #333333;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 412px;
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: #18171C;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  --color-black: #18171C;
  --color-gray: #3A393D;
  --color-primary-dark: #3A393D;
  --color-primary: #CBBEFF;
  --color-light-gray: #6D6D6D;
  --color-modal: #242327;
}

#root::-webkit-scrollbar {
  display: none;
}